In [1]:
import pandas as pd
import numpy as np

In [2]:
data_in_path = './data_in/'
train_clean_data = 'train_clean.csv'

train_data = pd.read_csv(data_in_path + train_clean_data)
train_data.head()

                                              review  sentiment
0  stuff going moment mj started listening music ...          1
1  classic war worlds timothy hines entertaining ...          1
2  film starts manager nicholas bell giving welco...          0
3  must assumed praised film greatest filmed oper...          0
4  superbly trashy wondrously unpretentious explo...          1

In [3]:
reviews = list(train_data['review'])
y = np.array(train_data['sentiment'])

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer='word', max_features=5000)

train_data_features = vectorizer.fit_transform(reviews)

In [5]:
train_data_features

<25000x5000 sparse matrix of type '<class 'numpy.int64'>'
	with 1975048 stored elements in Compressed Sparse Row format>

In [6]:
from sklearn.model_selection import train_test_split

random_seed = 42
test_split = 0.2

X_train, X_eval, y_train, y_eval = train_test_split(train_data_features, y, test_size=test_split, random_state=random_seed)
print(X_train.shape, y_train.shape)
print(X_eval.shape, y_eval.shape)

(20000, 5000) (20000,)
(5000, 5000) (5000,)

In [8]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100)

forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
print('Accuracy:', forest.score(X_eval, y_eval))

Accuracy: 0.8458

In [10]:
test_clean_data = 'test_clean.csv'

test_data = pd.read_csv(data_in_path + test_clean_data, header=0)
test_data.head()

                                              review        id
0  naturally film main themes mortality nostalgia...  12311_10
1  movie disaster within disaster film full great...    8348_2
2  movie kids saw tonight child loved one point k...    5828_4
3  afraid dark left impression several different ...    7186_2
4  accurate depiction small time mob life filmed ...   12128_7

In [11]:
test_reviews = list(test_data['review'])
ids = list(test_data['id'])

test_data_features = vectorizer.transform(test_reviews)

In [12]:
import os
data_out_path = './data_out/'

test_predicted = forest.predict(test_data_features)

if not os.path.exists(data_out_path):
    os.makedirs(data_out_path)
    
answer_dataset = pd.DataFrame({
    'id': ids,
    'sentiment': test_predicted
})
answer_dataset.to_csv(data_out_path + 'Bag_of_Words_model.csv', index=False)